h1 {
    display: none;;

}
body{
    background-color: #eaf1f7;
}
div.info{
    background-color: #fff;
}

header {
    background-color: #1c70cf;
    padding: 20px 0 20px 0;
    display: flex;
    justify-content: center;
   box-shadow:0px 2px 2px #06376f;
}
.search-form {
    display: flex;
    
}

.search-form input{
    width: 300px;
    height: 40px;
    border-radius: 15px 0 0 15px;
    padding-right: 5px;
    padding-left: 15px;
        transition: cubic-bezier(.17,.67,.83,.67);
        transition-duration: 200ms;
      background-color: rgb(205, 234, 243);
    
}
.search-form button{
    width: 50px;
    height: 40px;
    border-radius: 0 15px 15px 0;
    padding: 0;
    margin: 0;
    padding-left: 0;
    border: 1px;
    text-align: center;
    background-color: #f0efb6;
    border-color: rgb(0, 162, 255);
    transition: cubic-bezier(.17,.67,.83,.67);
    transition-duration: 200ms;

    &:hover{
    transition: cubic-bezier(.17,.67,.83,.67);
    transition-duration: 200ms;
    background-color: #fcf968;
    }
}

.gallery {
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
}

.gallery-item>img {
    height: 200px;
}
.photo-card {
    margin: 15px;
    border: 1px solid #eeeeee;
    box-shadow: 0px 1px 1px #434547;
}
.info {
    display: flex;
    justify-content: space-around;
}
.info-item {
    text-align: center;
    line-height: 1.7;
    
    }
.load {
    display: flex;
    justify-content: center;
    margin-top: 10px;
    margin-bottom: 25px;
}

.is-hidden {
  display: none;
}

.uni{
    cursor: pointer;
    font-size:small;
  display: flex;
  justify-content: center;
  font-size: 50px;
  margin-bottom: 15px;
  padding-bottom: 20px;
  transform: translateY(3px);
  transition: cubic-bezier(.17,.67,.83,.67);
  transition-duration: 200ms;
  transform: rotate(280deg) translateY(5px) translateX(18px);
// &:hover{
//     font-size: 30px;
//     transition: cubic-bezier(.17,.67,.83,.67);
//     transition-duration: 200ms;
    
// }
}

